.title1{
  @include title1
}

.title2{
  @include title2
}

.title3{
  @include title3
}

.title4{
  @include title4
}

.text3{
  @include text3;
}

.btn_tag{
  color: #0065B3;
  border: 2px solid #EBF3F9;
  padding: s(3) s(10);
  border-radius: 16px;
  &:not(:hover){
    text-decoration: none;
  }

  &:hover{
    background-color: #EBF3F9;
  }

  &:focus{
    background-color: #ffdf0f;
    border-color: #000;
  }
}

//RESETS
.idsk-in-page-navigation__link-panel-button::before{
  box-sizing: content-box;
}

.govuk-checkboxes__label::after{
  box-sizing: content-box;
}

.govuk-link-colored{
  &:not(:hover){
    color: inherit;
  }
}

.js-enabled .govuk-accordion__section-button{
  color: $color;
}

.idsk-in-page-navigation__link-title{
  color: $color;
}

.idsk-in-page-navigation__list-item--active:before{
  box-sizing: content-box;
  top: 8px;
}

hr{
  &.bold{
    border: 0;
    border-top: 5px solid $color;  
  }
}

//ELM IMAGE
.elm_image{
  position: relative;
  padding-left: 23%;

  img:first-child{
    display: block;
    width: 100%;
  }

  img:last-child{
    width: 30%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
  }
}

.idsk-card-custom{
  margin: 0;
  background-color: $color3;

  img{
    display: block;
  }

  .idsk-heading{
    @include title4
  }

  .idsk-card-title.govuk-link{
    color: inherit;
  }

  .idsk-card-content{
    padding: 15px 11px 25px 11px;
  }

  a:hover{
    text-decoration: none;
  }
}

.article-body {
  .idsk-job-external {
    margin: 20px 0;
    display: inline-block;
    
    .idsk-button {
      color: $background !important;
      font-size: 18px;
      text-decoration-line: none !important;

      &:hover {
        color: $background !important;
      }
      
      &:active,
      &:focus {
        color: $color !important;
      }

      svg {
        width: 9px !important;
      }
    }
  }
}

.idsk-table__cell {
  &.link-cell {
    max-width: 150px;
    white-space: wrap;
    a {
      display: block;
      max-width: 100%;
      word-wrap: break-word;
    }
  }
}

.name-cell {
  // max-width: 80px;
  min-width: 130px !important;
}

.show-more {
  font-weight: bold;
  width: 20px;
  height: 20px;
  display: block;
  cursor: pointer;
  position: relative;

  &:after,
  &:before {
    content: '';
    width: 100%;
    height: 5px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: #000;
    transition: all .5s ease;
  }

  &:after {
    transform-origin: center center;
    transform: translateY(-50%) rotate(90deg);
  }
}

.show-more-cell {
  min-width: initial !important;
  vertical-align: middle;
  padding: 0 20px !important;
}

.idsk-table__row.header-row.active {
  .show-more {
    &:after {
      transform: translateY(-50%) rotate(0);
    }
  }
}

.additional-row {
  .idsk-table__cell {
    padding: 0 !important;
  }
  .cell-content {
    padding: 15px;
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: max-height .5s ease, opacity .5s ease;
  
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.additional-row.active {
  .cell-content {
    max-height: 1000px;
    opacity: 1;
  }
}

.hidden-row .cell-content {
  max-height: 0;
  opacity: 0;
}

.header-row .idsk-table__cell {
  border-bottom: 0 !important;
}

.experts .idsk-table {
  max-height: 800px;
  overflow: auto;
  display: block;

  .idsk-table__head {
    position: sticky;
    background: white;
    top: 0;
    z-index: 100;

    .idsk-table__header {
      padding-bottom: 20px;
    }
  }
}